<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting id="logout" type="action" label="32002" action="RunPlugin(plugin://plugin.video.magenta-sport/?action=logout)"/>
        <setting id="switch_account" type="action" label="32003" action="RunPlugin(plugin://plugin.video.magenta-sport/?action=switch_account)"/>
        <setting id="email" type="text" default="" visible="false"/>
        <setting id="password" type="text" default="" visible="false"/>
    </category>
    <category label="32010">
        <setting id="api_version" type="labelenum" label="32011" values="V2|V3" default="V2"/>
        <setting id="show_program_fcbayerntv" type="bool" label="32012" default="false"/>
    </category>
</settings>
