<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.netzkino_de">
		<category id="allgemein" label="30000" help="">
			<group id="1" label="30230">
				<setting id="useInputstream" type="boolean" label="30110" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="prefer_stream" type="integer" label="30111" help="">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="m3u8">0</option>
							<option label="mp4">1</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="useInputstream">false</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="2"/>
			<group id="3" label="30231">
				<setting id="no_age_restriction" type="boolean" label="30112" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="4"/>
			<group id="5" label="30232">
				<setting id="useThumbAsFanart" type="boolean" label="30113" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="fortgeschritten" label="30001" help="">
			<group id="1" label="30233">
				<setting id="show_settings" type="boolean" label="30114" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2"/>
			<group id="3" label="30234">
				<setting id="enableDebug" type="boolean" label="30115" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
